---
export const prerender = false;

import Layout from "../../layouts/Layout.astro";
import { XRPC, CredentialManager } from "@atcute/client";
const manager = new CredentialManager({
    service: "https://amanita.us-east.host.bsky.network",
});
const rpc = new XRPC({ handler: manager });
const { data } = await rpc.get("com.atproto.repo.listRecords", {
    params: {
        collection: "com.whtwnd.blog.entry",
        repo: "nandi.dads.lol",
    },
});
import Article from "../../components/Article.astro";
// console.log({ data });
const records = data.records.map((record) => record.value);
---

<Layout>
    <h1 class="text-2xl font-bold mb-4">Nandi's ATproto Blog</h1>
    <div class="mx-auto max-w-2xl break-words">
        {records.map((record) => <Article record={record} />)}
    </div>
</Layout>
