---
import CatComp from "../components/Cat.svelte";
import Layout from "../layouts/Layout.astro";
---

<!-- https://codepen.io/miocene/pen/QwLOQBB --><!-- https://bsky.app/profile/miocene.io -->
<Layout>
  <a
    href="https://bsky.app/profile/miocene.io"
    class="text-pink-500 text-lg no-underline hover:underline p-2 rounded-md"
    style="cursor: pointer; font-weight: bold; transition: background-color 0.3s ease;"
  >
    🌸 By Julia Miocene &lt;https:// bsky.app profile miocene.io&gt; 🌸
    <CatComp />
  </a>
</Layout>
