---
import Test from "../components/Test.mdx";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="prose dark:prose-invert prose-h1:text-blue-500">
        <Test foo="bar">interesting</Test>
    </div>
</Layout>
