---
import Counter from "../components/Counter";
import TestComponent from "../components/Test.mdx";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="prose dark:prose-invert prose-h1:text-blue-500">
    <TestComponent foo="bar" />
    <div>The above is markdown but this isn't</div>
    <Counter client:load />
  </div>
</Layout>
