---
import Cat from "../components/Cat";
import Dog from "../components/Dog";
import Spinner from "../components/Spinner.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  Before Islands
  <Cat client:only><Spinner slot="fallback" /></Cat>
  Middle of islands
  <div class="flex">
    <Dog client:only><Spinner slot="fallback" /></Dog>
    <Dog client:only><Spinner slot="fallback" /></Dog>
  </div>
  After Islands
</Layout>
