---
let { record } = Astro.props as { record: { title: string; content: string } };
record = record || { title: "Nandi's ATproto Blog", content: "" };
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro power 🚀</title>

		<meta property="og:title" content={record.title} />
		<meta property="og:description" content={record.content as string} />
		<meta
			property="og:image"
			content="https://cdn.bsky.app/img/avatar/plain/did:plc:ngokl2gnmpbvuvrfckja3g7p/bafkreibpne7cdc42h3ueamxxvv2bk57etg7my655awtlbbde453cbj72me@jpeg"
		/>
	</head>

	<body
		class="container p-2 dark:bg-gray-900 dark:text-white transition-colors duration-300"
	>
		<slot />
		<!-- {
			Astro.url.pathname !== "/" && (
				<a
					class="block mt-4 underline decoration-2 underline-offset-4 text-blue-500 hover:text-blue-700 transition-colors duration-300"
					href="/"
				>
					Home
				</a>
			)
		} -->
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
